.calculadora {
  padding: 5%;
  background-color: lightblue;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%;
  border-radius: 25px;
  text-align: center;
  border: 1px solid black;
}

.display {
  border: 1px solid black;
  width: 300px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  text-align: right;
  color: black;
  padding: 2%;
}

.botones {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 15%;
  display: inline-block;
}

button {
  width: 33%;
  height: 50px;
}

.operaciones {
  margin-top: 5%;
}